Edited by: Vanessa Liang

#### **Recommender System using Association Rule Mining**

In [0]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [155]:
data = pd.read_csv("https://raw.githubusercontent.com/vanessaaleung/rawdata/master/transactions_by_dept.csv").drop(columns=["Unnamed: 4"])
data.head(10)

                POS Txn                       Dept   ID  Sales U
0  16120100160021008773               0261:HOSIERY  250        2
1  16120100160021008773  0634:VITAMINS & HLTH AIDS  102        1
2  16120100160021008773          0879:PET SUPPLIES  158        2
3  16120100160021008773                 0973:CANDY  175        2
4  16120100160021008773               0982:SPIRITS  176        1
5  16120100160021008773                  0983:WINE  177        4
6  16120100160021008773               0991:TOBACCO  179        2
7  16120100160021008774           0597:HEALTH AIDS   93        1
8  16120100160021008774         0604:PERSONAL CARE  100        5
9  16120100160021008775      0819:PRE-RECORDED A/V  135        1

Create a pandas DataFrame of frequent itemsets as generated by the apriori function

In [154]:
dataset = data.groupby('POS Txn')['Dept'].apply(list).values.tolist()
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df, min_support=0.03, use_colnames=True).sort_values(by="support", ascending=False)
frequent_itemsets

     support                                itemsets
12  0.152132                          (0982:SPIRITS)
11  0.133236                            (0973:CANDY)
10  0.122578                        (0962:BEVERAGES)
2   0.096899                      (0597:HEALTH AIDS)
13  0.093023                             (0983:WINE)
15  0.089632                          (0991:TOBACCO)
7   0.076550               (0836:HOUSEHOLD CLEANING)
4   0.073643                    (0604:PERSONAL CARE)
3   0.064438                      (0603:BEAUTY CARE)
14  0.064438                             (0984:BEER)
0   0.054264                  (0072:BARBER SERVICES)
8   0.049903                     (0879:PET SUPPLIES)
1   0.049903               (0532:AMERICAN GREETINGS)
9   0.047965                (0961:GENERAL GROCERIES)
6   0.045543                         (0646:SEASONAL)
18  0.037306               (0983:WINE, 0982:SPIRITS)
5   0.032946                             (0640:TOYS)
17  0.032461            (0962:BEVERAGES, 0973:CANDY)
16  0.031008  (0597:HEALTH AIDS, 0604:PERSONAL CARE)

Interested in rules derived from the frequent itemsets only if the level of confidence is above the 30 percent threshold

In [153]:
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3)

            antecedents           consequents  ...  leverage  conviction
0           (0983:WINE)        (0982:SPIRITS)  ...  0.023154    1.415571
1    (0597:HEALTH AIDS)  (0604:PERSONAL CARE)  ...  0.023872    1.362289
2  (0604:PERSONAL CARE)    (0597:HEALTH AIDS)  ...  0.023872    1.559901

[3 rows x 9 columns]

**Business Use Case**

Make **two** business recommendations to deliver business outcomes from this association rule based recommender system

Online retail company XYZ sells various products and looking to increase its revenue by promoting cross-selling (i.e. selling related or complementary items) opportunities to its customers. 

The company is looking to apply advanced analytics on its historical transactional data to answer the following business question:
When a customer buys an item, what are the related or complementary items that can be presented to them to promote cross-selling?



```
1. When a customer buys some wine, the company can promote Spirits to them for cross-selling.
2. When a customer buys health aids, the  company can promote personal care items to them for cross sellings.
```